{{- $email := promptStringOnce . "email" "Enter your Git email address" "peloeil20@gmail.com" -}}
{{- $researchEmail := promptStringOnce . "researchEmail" "Enter your research Git email address" -}}
{{- $name := promptStringOnce . "name" "Enter your Git full name" "Shun Ota" -}}
encryption = "age"

[data]
  email = "{{ $email }}"
  researchEmail = "{{ $researchEmail }}"
  name = "{{ $name }}"

[age]
  identity = "~/.config/chezmoi/key.txt"
  recipient = "age1erycv24ut8hjkeujqu087hukdpkwy0stse4lvc2dx6e3w4mqr9es5j522h"

[edit]
  command = "nvim"
