{{- $profile := promptChoiceOnce . "profile" "Install profile" (list "full" "minimal") "full" -}}
{{- $email := promptStringOnce . "email" "Enter your Git email address" "peloeil20@gmail.com" -}}
{{- $researchEmail := promptStringOnce . "researchEmail" "Enter your research Git email address" -}}
{{- $researchDir := promptStringOnce . "researchDir" "Enter your research directory (absolute path or ~/...)" (joinPath .chezmoi.homeDir "workspace/univ/lab/research") -}}
{{- $name := promptStringOnce . "name" "Enter your Git full name" "Shun Ota" -}}
encryption = "age"

[data]
  profile = {{ $profile | quote }}
  email = "{{ $email }}"
  researchEmail = "{{ $researchEmail }}"
  researchDir = {{ $researchDir | quote }}
  name = "{{ $name }}"

[age]
  identity = "~/.config/chezmoi/key.txt"
  recipient = "age1erycv24ut8hjkeujqu087hukdpkwy0stse4lvc2dx6e3w4mqr9es5j522h"

[edit]
  command = "nvim"
