[user]
    email = "{{.email }}"
    name = "{{.name }}"

[init]
    defaultBranch = main

[core]
    editor = nvim
    pager = delta

[commit]
    verbose = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    dark = true

[merge]
    conflictStyle = zdiff3
